.svgSidebar {
  font-size: 12px;
  flex-basis: 8%;

  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  margin: 0.5em;
  button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: white;
    padding: 0.7em 1.2em;
  }

  .active {
    background: #ededed;
  }
}
