input[type='text'] {
  width: 100%;
  display: block;
}

.instrumentsList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  button {
    flex-basis: 100%;
    text-transform: capitalize;
  }
}

.instrumentLabel {
  padding: 0.7em 1.2em;
}
